.profile-img {
    /* position: absolute; */
    width: 316px;
    height: 350px;
    left: 116px;
    top: 44px;
    border-radius: 10px 10px 0px 0px;
}
.websites{
    display: flex;
    margin: 15px 0 0 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.websites a {
    width: 115px;
    height: 34px;
    border-radius: 6px;
    font-size: 14px;   
  }

.websites p {
    margin-left: 9px;
}
.email{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #374151;
    background-color: #FFFFFF;
    border: 1px solid #D1D5DB;
}

.email img{
    width: 12.8px;
    height: 9.6px;
}

.linkedin{
    margin-left: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5093E2;
    color: white;
    text-decoration: none;
}

.linkedin img {
    width: 13.3px;
    height: 13.3px;
}

.name {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
    margin: 18px 0 0px 0;
}

.work {
    margin: 7px 0 0 0;
    color: #F3BF99;
    font-weight: 400;
    font-size: 12.8px;
}

.website {
    margin: 8.81px 0 0 0;
    color: #F5F5F5;
    font-weight: 400;
    font-size: 10.24px;
    text-align: center;
}